.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.product-media {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	padding-top: 0.5rem;
}

.product-media figure {
	position: relative;
	aspect-ratio: 1 / 1;
	background-color: var(--fg-color);
}

.product-info {
	position: sticky;
	top: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 1rem 0;
	padding: 0 1rem;
	height: 100vh;
}

.product-header {
	display: flex;
	justify-content: space-between;
	font-size: var(--text-3);
}

.product-header h3 {
  padding-top: 0.4rem;
	max-width: 20ch;
  line-height: 1;
	font-weight: 500;
}

.product-style {
	--black: #000000;
	--oatmeal: #c1c1bb;
	--grey: #b9b9b3;
	--lime: #bab77b;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem 1rem;
}

.product-style span{
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
}

.product-style button {
	width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.product-style button:focus {
  outline: .4rem solid var(--fg-color);
}

.product-style button[data-style='black'] {
	background-color: var(--black);
}

.product-style button[data-style='oatmeal'] {
	background-color: var(--oatmeal);
}

.product-style button[data-style='grey'] {
	background-color: var(--grey);
}

.product-style button[data-style='lime'] {
	background-color: var(--lime);
}

.product-size {
  display: flex;
  flex-wrap: wrap;
  gap: .6rem;
}

.product-size div {
  display: flex;
  gap: 1rem;
}

.product-size span{
  width: 100%;
  text-transform: uppercase;
}

.size-button{
  width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
  border: .1rem solid var(--fg-color);
	aspect-ratio: 1 / 1;
  color: var(--fg-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--text-5);
  transition: .3s;
}

.size-button:last-of-type{
  width: 4.5rem;
  border-radius: 20px;
}

.size-button:hover{
  background-color: var(--lighter-color);
}

.product-size > button {
  align-self: flex-end;
  font-size: var(--text-5) !important;
}