:root {

	--black: hsl(0, 0%, 0%);
	--white: hsl(100, 100%, 100%);
	--artic-lime: hsl(69, 97%, 56%);

	--bg-color: var(--black);
	--fg-color: var(--white);

	--font-body: 'Manrope';

  font-size: 1.2vw;

  --text-1: 2.5rem;
  --text-2: 2.33rem;
  --text-3: 1.3rem;
  --text-body: 1rem;
  --text-small: .8rem;
}

.root.dark {
	--bg-color: var(--black);
	--fg-color: var(--white);
}

:root.light {
  --bg-color: var(--white);
  --fg-color: var(--black);
}

:root.artic {
  --bg-color: var(--artic-lime);
  --fg-color: var(--black);
}

@media (max-width: 800px) {
  :root {
    font-size: 3.6vw;
  }
}

body {
  padding: 0 1rem;
	font-family: var(--font-body), sans-serif;
	color: var(--fg-color);
	background-color: var(--bg-color);
}
