:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(100, 100%, 100%);
	--artic-lime: hsl(69, 97%, 56%);
	--red: hsl(0, 100%, 50%);
	--gray: hsla(0, 0%, 50%, 0.4);

	--bg-color: var(--black);
	--fg-color: var(--white);
	--accent-color: var(--red);
	--lighter-color: var(--gray);

	--font-family: 'Roboto Condensed';
	font-size: 1.2vw;
	--text-1: 2.5rem;
	--text-2: 2.33rem;
	--text-3: 2rem;
	--text-4: 1.7rem;
	--text-5: 1.3rem;
	--text-body: 1rem;
	--text-medium: 0.9rem;
	--text-small: 0.8rem;

	--spacer-1: 1.8rem;
	--spacer-2: 1.2rem;
	--spacer-3: 0.6rem;
}

.root.dark {
	--bg-color: var(--black);
	--fg-color: var(--white);
}

:root.light {
	--bg-color: var(--white);
	--fg-color: var(--black);
}

:root.artic {
	--bg-color: var(--artic-lime);
	--fg-color: var(--black);
	--lighter-color: var(--gray);
}

@media (max-width: 800px) {
	:root {
		--text-1: 7.5rem;
		--text-2: 6.99rem;
		--text-3: 3.9rem;
		--text-body: 3rem;
		--text-small: 2.4rem;
	}
}

body {
	font-family: var(--font-family);
	padding: 0 var(--spacer-2);
	color: var(--fg-color);
	background-color: var(--bg-color);
	transition: .3s background-color;
}
