:root {
	--black: hsl(0, 0%, 0%);
	--white: hsl(100, 100%, 100%);
	--artic-lime: hsl(69, 97%, 56%);
	--gray: hsla(0, 0%, 50%, .4);

	--bg-color: var(--black);
	--fg-color: var(--white);
	--lighter-color: var(--gray);

	font-size: 1.2vw;
	--text-1: 2.5rem;
	--text-2: 2.33rem;
	--text-3: 1.3rem;
	--text-body: 1rem;
	--text-medium: 0.9rem;
	--text-small: 0.8rem;

  --spacer-1: 1.8rem; 
  --spacer-2: 1.2rem; 
  --spacer-3: .6rem; 
}

.root.dark {
	--bg-color: var(--black);
	--fg-color: var(--white);
	--lighter-color: var(--gray)
}

:root.light {
	--bg-color: var(--white);
	--fg-color: var(--black);
	--lighter-color: var(--gray)
}

:root.artic {
	--bg-color: var(--artic-lime);
	--fg-color: var(--black);
}

@media (max-width: 800px) {
	:root {
		--text-1: 7.5rem;
		--text-2: 6.99rem;
		--text-3: 3.9rem;
		--text-body: 3rem;
		--text-small: 2.4rem;
	}
}

body {
	padding: 0 var(--spacer-2);
	color: var(--fg-color);
	background-color: var(--bg-color);
}
