.marquee {
  padding: .4rem 0;
  color: var(--bg-color);
  background-color: var(--fg-color);
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}