.header {
  position: relative;
  text-transform: uppercase;
  padding: var(--spacer-2) 0;
  border-bottom: .5rem solid var(--fg-color);
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr .8fr;
}

.menu-brand {
  max-width: 25rem;
  font-size: var(--text-1);
  font-weight: 500;
  line-height: 1;
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links ul {
  display: flex;
  gap: 3rem;
  font-size: var(--text-5);
}

.menu-links span {
  font-size: var(--text-small);
  line-height: 1.2;
}

.menu-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-actions > button{
  color: var(--fg-color);
  font-size: var(--text-5);
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
}

.menu-theme {
  display: flex;
  gap: .5rem;
}

.menu-theme button {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid transparent;
}

.menu-theme button[data-theme="black"] {
  border-color: var(--white);
  background-color: var(--black);
}

.menu-theme button[data-theme="white"] {
  border-color: var(--black);
  background-color: var(--white);
}

.menu-theme button[data-theme="artic"] {
  border-color: var(--fg-color);
  background-color: var(--artic-lime);
}