.sizes {
  display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
  gap: .4rem;
}

.sizes div {
  display: flex;
  gap: .6rem;
}

.sizes span{
  width: 100%;
  text-transform: uppercase;
	font-weight: 500;
}

.size-button{
  width: 3.3rem;
	height: 3.3rem;
	border-radius: 50%;
  border: .1rem solid var(--fg-color);
	aspect-ratio: 1 / 1;
  color: var(--fg-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--text-5);
  transition: .3s;
}

.size-button:last-of-type{
  width: 4.5rem;
  border-radius: 20px;
}

.size-button:hover{
  background-color: var(--lighter-color);
}

.size-button[data-active="true"] {
	background-color: var(--fg-color);
	color: var(--bg-color);
}


